.tile{
    position:absolute;
    width:250px;
}
.tile_img{
    position:absolute;
    height:200px;
    top:0px;
    z-index:1;
}
.tile_text{
    color:#eee;
    background: grey;
    height:100px;
    width:100%;
    position:absolute;
    top:100px;
    z-index:0;
}
