.tile{
    position:absolute;
    width:250px;
    z-index:1;
}
.tile_img{
    position:absolute;
    height:200px;
    top:0px;
    left:0px;
    z-index:1;
}
.tile_text{
    color:#eee;
    background: gray;
    height:100px;
    width:100%;
    position:absolute;
    top:100px;
    left:0px;
    z-index:0;
    text-align:center;
}
