.tile{
    position:absolute;
    width:250px;
    z-index:1;
    color:#eee;
}
.tile_img{
    position:absolute;
    height:200px;
    top:0px;
    left:0px;
    z-index:1;
    margin:0px;
    padding:0px;
}
.tile_text{
    background: gray;
    height:60px;
    width:100%;
    position:absolute;
    top:100px;
    left:0px;
    z-index:0;
    text-align:center;
}
